
#itemWrapper{
    height: auto;
    min-height: 100%;
    display: flex;
    width: auto;
    gap: 30px;
    padding-top: 50px;
    position: relative;
}

#itemContainer{
    /* background: var(--white3); */
    padding: 30px;
    border-radius: 40px;
    top: 150px;
    height: auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 0px;
}

#itemContainer .pizza-image{
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    border-radius: 10px;
    /* border-top-left-radius: 40px; */
    border-top-right-radius: 40px;
    place-self: left;
    margin-top: 30px;
    max-height: 500px;
    object-fit: cover;
}

.itemBuyWrapper{
    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    max-width: 400px;
}

.itemBuyWindow{
    width: auto;
    background: var(--buyWindowBackground);
    border-radius: 10px;
    padding: 30px;
    height: auto;
    min-height: 300px;
    position: sticky;
    top: 180px;
    margin-top: 0px;
    max-width: 600px;
    outline: 2px solid var(--buyWindowOutline);
    border-bottom-right-radius: 40px;

}


#itemContainer h1{
    color: white;
    color: var(--textLight);
    /* background: linear-gradient(90deg, rgba(241,80,37,1) 0%, rgba(241,80,37,1) 0%, rgba(25,25,25,1) 100%); */
    background: var(--h1bg);
    font-weight: 2000;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-top: 10px; padding-bottom: 10px;
    padding-left: 20px; padding-right: 10px;
    border-radius: 40px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 0px;
    font-size: clamp(20px,3vw,40px);
    font-family: "Manrope", sans-serif;
    font-weight: 800;

}

#itemContainer p{
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 0px;
    padding-right: 70px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: white;
    color: var(--textLight);
    width: 75ch;

}

/* #itemContainer hr{
    width: 100%;
    background: var(--orange1);
    display: inline-block;
    outline: 0;
    color: transparent;
    border-radius: 40px;
    padding-bottom: 5px;
} */

#itemContainer .dropdown{
    margin-left: 5px;
}
.itemBuyWindow h4{
    font-weight: 200;
    margin-bottom: 5px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color: white;
    color: var(--textLight);
}

.itemBuyWindow h2{
    color: rgb(255, 196, 0);
    color: var(--itemBuyPriceText);
    font-family: "Manrope", sans-serif;
    font-weight: 700;
}

.itemBuyWindow h3{
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    color: white;
    color: var(--textLight);
}

.itemBuyWindow .buy-button{
    background: rgb(212, 67, 27);
    background: var(--buyButtonBG);
    text-decoration: none;
    color: white;
    color: var(--buyButtonText);
    margin-top: 30px;
    display: inline-block;
    width: calc(100% - 80px);
    padding: 20px;
    padding-left: 40px; padding-right: 40px;
    border-radius: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
}

.itemBuyWindow .buy-button:hover{
    background: rgb(167,56,26);
    color: white;
    background: var(--buyButtonHoverBG);
    color: var(--buyButtonHoverText);
}

.itemBuyWindow span h4{
    margin-top: 0px;
    color: white;
    color: var(--textLight);
}

.itemBuyWindow select{
    width: 100%;
    height: 35px;
    font-family: "Manrope";
    font-weight: 400;
    background: rgb(15,15,15);
    background: var(--buyWindowQuantityBackground);
    border: 0;
    border-radius: 10px;
    color: white;
    color: var(--buyWindowQuantityText);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -3px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400px;
}


.buyWindowFlex select{
    width: 100%;
    height: 45px;
}

.orangeHyperLink{
    margin-bottom: 30px;
}

.nutritional-wrapper{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5px;
    column-gap: 40px;
    row-gap: 10px;
    text-align: center;
}

.nutritional-wrapper h3{
    color: white;
    color: var(--textLight);
}

.nutritional-wrapper span{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: clamp(10px,3vw,14px);
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: white;
    color: var(--textLight);
}


.nutritional-wrapper h6{
    font-size: clamp(20px,3vw,30px);
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 100;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    color: white;
    color: var(--textLight);
}


.itemBuyWindow{
    display: inline-block;
}

.itemBuyWindow.buyWindowFlex{
    display: none;
    width: auto;
    position: relative;
}

.itemBuyWindow.shrink{
    height: auto;
    min-height: auto;
}

.itemBuyWindow.buyWindowFlex.shrink h4{
    margin-top: 5px;
    margin-bottom: 10px;
}

.itemBuyWindow.buyWindowFlex.shrink a{
    margin-bottom: 10px;
}

.dropdown:first-of-type{
    margin-top: 50px;
}

.buy-button.maxed{
    margin-top: 10px;
}



@media screen and (max-width: 1300px){
    #itemWrapper{
        flex-direction: column;
        position: relative;
        margin-left: 5px;
        width: calc(100% - 10px);
        align-items: center;
    }
    .itemBuyWindow{
        display: none;
    }
    .itemBuyWindow.buyWindowFlex{
        display: inline-block;
        top: 0;
        width: auto;
        max-width: none;
    }
    #itemContainer p{
        width: 99%;
    }
    #spacing-margin{
        margin-bottom: 70px;
    }
}





