#semiOpaqueBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.95);
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -105px;
}

#semiOpaqueBackground #warningItem{
    width: 78%;
    height: auto;
    min-height: 625px;
    max-width: 700px;
    background: white;
    background: var(--warningItemBackground);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#warningItem .spacingHR{
    margin-bottom: 10px;
    background: transparent;
    color: transparent;
}

#warningSVG #circle1{
    stroke: var(--warningIconColour);
}

#warningSVG #path{
    fill: var(--warningIconColour);
}

#warningSVG #circle2{
    fill: var(--warningIconColour);
}

#warningItem h1,h2,h3,h4,h5,h6{
    color: black;
    color: var(--warningMenuText);
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: 45ch;
}

#warningItem h1{
    font-weight: 800;
    font-size: clamp(34px,3vw,40px);
}

#warningItem h3{
    text-align: center;
    font-weight: 300;
}

#warningItem .button-style-warning:first-of-type{
    margin-top: 30px;
}

#warningItem .button-style-warning{
    background: rgb(212,67,27);
    margin: 10px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 40px;
    color: white;
    color: var(--warningMenuButtonText);
    font-size: clamp(20px,3vw, 24px);
    width: 35%;
    text-align: center;
    min-width: 150px;
    margin-top: 15px;
}

#warningItem .button-style-warning:hover{
    background: rgb(167,56,26);
    cursor: pointer;
    color: white;
    color: var(--warningMenuButtonTextHover);
}

#warningItem #warningSVG{
    width: 200px;
    height: 200px;
}

@keyframes scale{
    0%{
        transform: scale(1);
    }50%{
        transform: scale(1.1);
    }100%{
        transform: scale(1);
    }
}

#warningSVG{
    animation: scale;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}