#page-background{
    position: absolute;
    width: 100%;
    min-height: 90vh;
    height: auto;
}

#centralContainer{
    height: auto;
    min-height: 90vh;
    width: calc(100% - 90px);
    margin-left: 45px;
    display: flex;
    margin-bottom: 200px;
    margin-top: 5px;
    flex-direction: column;
}


#shop-basket-container{
    width: calc(100% - 20px);
    height: auto;
    padding-left: 20px;
}

#shop-basket-container h1{
    margin-top: 70px;
    font-family: "Manrope";
    font-weight: 700;
    font-size: clamp(32px,3vw,40px);
    color: white;
    color: var(--textLight);
}

#shop-basket-container h3{
    background: var(--basketItemBG);
    width: auto;
    position: relative;
    display: inline-block;
    margin-top: 5px;
    padding: 15px;
    border-radius: 40px;
    color: white;
    color: var(--basketItemText);
    font-size: clamp(14px,1.5vw,20px);
}

#shoppingContainer{
    height: auto;
    min-height: 90vh;
    width: 100%;
    display: flex;
    margin-bottom: 200px;
    margin-top: 50px;
}

#shoppingContainer #itemColumn{
    padding: 20px;
    width: 100%;
}

#shoppingContainer #stickyColumn{
    padding: 20px;
    width: 50%;
    max-width: 500px;
    position: relative;
}

#stickyColumn #stickyItem{
    background: rgb(15,15,15);
    background: var(--basketPayWindowBG);
    height: auto;
    min-height: 300px;
    max-width: 500px;
    position: sticky;
    top: 200px;
    border-radius: 10px;
    height: 50vh;
    margin-bottom: 40px;    
}


#itemColumn .item{
    background: var(--white3);
    width: calc(100% - 40px);
    height: auto;
    min-height: 300px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    max-width: 1200px;
}

#itemColumn .section-1{
    display: flex;
    flex-direction: column;
    width: 70%;
}

#itemColumn .section-2{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#itemColumn .item:first-of-type{
    margin-top: 0px;
}

.item .imageCover{
    background: rgba(0,0,0,0.6);
    z-index: 2;
    display: inline-block;
    width: 200%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.item img{
    position: absolute;  
    object-fit:contain;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-left: -20px;
    margin-top: -20px;
    top: 0;
    left: -50%;
}

.item h1{
    z-index: 3;
    color: white;
}

@media screen and (max-width: 950px){
    #shoppingContainer{
        flex-direction: column;   
    }
    #shoppingContainer #itemColumn{
        width: calc(100% - 40px);
        height: auto;
        min-height: 70vh;
    }
    #shoppingContainer #stickyColumn{
        width: calc(100% - 40px);
        height: auto;
        min-height: 30vh;
        max-width: none;
    }
    #stickyColumn #stickyItem{
        height: auto;
        min-height: 30vh;
        position: relative;
        top: 0;
        max-width: none;
    }
    #centralContainer{
        width: calc(100% - 20px);
        margin-left: 10px;      
    }
}
