#page-background{
    position: absolute;
    width: 100%;
    min-height: 90vh;
    height: auto;
}

#centralWrapper{
    width: 100vw;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: left;
}

#centralContainer{
    height: auto;
    min-height: 90vh;
    width: 90%;
    display: flex;
    margin-bottom: 200px;
    margin-top: 5px;
    flex-direction: column;
    max-width: 1500px;
    margin-left: 2vw;
}


#shop-basket-container{
    width: calc(100% - 20px);
    height: auto;
    padding-left: 20px;
}

#shop-basket-container h1{
    margin-top: 70px;
    font-family: "Manrope";
    font-weight: 700;
    font-size: clamp(32px,3vw,40px);
    color: white;
    color: var(--textLight);
}

#shop-basket-container h3{
    background: var(--basketItemBG);
    width: auto;
    position: relative;
    display: inline-block;
    margin-top: 5px;
    padding: 15px;
    border-radius: 40px;
    color: white;
    color: var(--basketItemText);
    font-size: clamp(14px,1.5vw,20px);
}

#shoppingContainer{
    height: auto;
    min-height: 90vh;
    width: 100%;
    display: flex;
    margin-bottom: 200px;
    margin-top: 50px;
    align-items: stretch;
    gap: 20px;
}

#shoppingContainer button{
    outline: 0;
    border: 0;
}

#shoppingContainer button:hover{
    cursor: pointer;
}

#shoppingContainer #itemColumn{
    padding: 20px;
    width: 100%;
}

#shoppingContainer #itemColumn{
    padding: 20px;
    width: 100vw;
    position: relative;
}

.stickyContainer{
    width: 120%;
    height: auto;
    position: relative;
}

#shoppingContainer .stickyItem{
    background: rgb(15,15,15);
    background: var(--basketPayWindowBG);
    height: auto;
    min-height: 300px;
    max-width: 100%;
    width: auto;
    border-radius: 10px;
    margin-bottom: 40px;    
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-right-radius: 40px;
    padding-bottom: 40px;
    display: grid;
    margin-top: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    max-height: calc(100vh - 200px);
    max-width: 1180px;
    column-gap: 20px;
    position: sticky;
    top: 150px;
}

.stickyItem div{
    width: 100%;
    height: auto;
}

.stickyItem .stickyItemFlex1{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-row: 1;
}

.stickyItem .stickyItemFlex2{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    grid-row: 1;
}

.stickyItem .sticky-item-buy-button{
    grid-row: 2;
    grid-column: 1 / span 2;
    padding-top: 0px;
}

.sticky-item-buy-button select{
    width: 100%;
    margin-bottom: 20px;
}

#form1{
    position: relative;
    height: 100%;
    width: 100%;
}


#itemColumn .item{
    background: var(--white3);
    width: calc(100% - 40px);
    height: auto;
    min-height: 350px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    max-width: 1200px;
    flex-direction: column;
}

#itemColumn .section-1{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: baseline;
    justify-content: baseline;
}

#itemColumn .section-1 h1{
    margin-top: 5px;
    margin-bottom: 5px
}

#itemColumn .section-2{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#itemColumn .item:first-of-type{
    margin-top: 0px;
}

.item .imageCover{
    background: var(--orange1dark);
    z-index: 2;
    display: inline-block;
    width: 200%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    filter: opacity(0.5);
}

.item img{
    position: absolute;  
    object-fit:contain;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-left: -20px;
    margin-top: -20px;
    top: 0;
    left: -50%;
}

.item h1{
    z-index: 3;
    color: white;
    font-size: clamp(20px,3vw, 34px);
}

.item h2{
    font-size: clamp(16px,3vw, 24px);
}

.total-wrapper span{
    display: flex;
    justify-content: space-between;
}



.stickyItem h2{
    font-weight: 600;
}

.stickyItem .spacing-hr{
    margin-top: 5px;
    height: 1px;
    border: 0;
    color: transparent;
    outline: 0;
    background: transparent;
}

.stickyItem h2{
    margin-top: 5px;
    margin-bottom: 10px;
}

.stickyItem .button-style4{
    width: 100%;
    margin-left: 0; margin-right: 0px;
    font-size: clamp(20px,3vw,25px);
    border-radius: 10px;
    border-bottom-right-radius: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.stickyItem input{
    background: rgb(50,50,50);
    background: var(--gray2);
    border: 0;
    height: auto;
    min-height: 25px;
    border-radius: 10px;
    padding: 5px;
    color: white;
    color: var(--inputText);
    font-family: "Manrope";
    font-weight: 100;
    font-size: clamp(14px,3vw,15px)
}

.stickyItem select{
    background: rgb(50,50,50);
    background: var(--gray2);
    border: 0;
    height: auto;
    min-height: 25px;
    border-radius: 10px;
    padding: 5px;
    color: white;
    color: var(--inputText);
    font-family: "Manrope";
    font-weight: 100;
}

.stickyItem .additionalNotes{
    height: auto;
    min-height: 100px;
    resize: none;
    background: rgb(50,50,50);
    background: var(--gray2);
    border: 0;
    border-radius: 10px;
    padding: 5px;
    color: white;
    color: var(--inputText);
    font-family: "Manrope";
    font-weight: 100;
    font-size: clamp(14px,3vw,15px)
}

.stickyItem #word-limit-wrap{
    background: rgb(50,50,50);
    background: var(--additionalNumbersBackground);
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    width: auto;
}

.stickyItem #word-limit-wrap h2{
    font-size: clamp(12px,3vw,14px);
    margin-top: 2px;
    margin-bottom: 2px;
}

.stickyItem #word-limit-wrap #word-limit-bar-notes{
    height: 25px;
    width: 100%;
    margin-left: 15px;
    outline: 2px solid rgb(70,70,70);
    outline: 2px solid var(--wordLimitBorder);
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

.stickyItem #word-limit-bar-notes #word-limit-bar-move{
    position: absolute;
    top: 0; left: 0;
    width: 0%;
    height: 100%;
    background: rgb(241,85,37);
    background: var(--wordLimitBarInterior);
    border-radius: 40px;
}

.stickyItem .hover{
    background: black;
    background: var(--discountAppliedBG);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 100%;
    color: var(--discountAppliedBG);
    width: 20px; height: auto;
    text-align: center;;
    cursor: pointer;
}

.stickyItem .discountAppliedSpan:hover > .hover{
    color: white;
    color: var(--discountAppliedBGText);
}

.stickyItem .discountAppliedSpan:hover{
    cursor: pointer;
}

.stickyItem .discountAppliedSpan:hover{
    background: var(--discountAppliedClose);
}

.stickyItem .discountAppliedSpan{
    display: flex;
    gap: 10px;
    background: rgb(20,195,79);
    background: var(--discountAppliedBG2);
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 40px;
    align-items: center;
}

.stickyItem .discountAppliedSpan h3, .stickyItem .discountAppliedSpan h4{
    margin-top: 5px;
    margin-bottom: 5px;
}


.total-wrapper h4{
    font-weight: 300;
    font-size: clamp(14px,3vw,20px);
}

.total-wrapper h5{
    font-weight: 200;
    font-size: clamp(14px,3vw,20px);
}

.total-wrapper h4, .total-wrapper h5{
    margin-top: 5px;
    margin-bottom: 5px;
}

.stickyItemFlex1 .h4codeRecognised{
    transition: 1s ease-in-out;
    transition-property: opacity, height;
    opacity: 1;
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: 3px;
    font-weight: 100;
    position: relative;
}

.stickyItemFlex1 .h4codeRecognised::before{
    content: ' ';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    height: 1px;
    background: white;
    background: var(--textLight);
    opacity: 0.5;
}

.stickyItemFlex1 .h4codeRecognised.error{
    transition: 1s ease-in-out;
    transition-property: opacity, height;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 2px;
    font-weight: 100;
    color: rgb(255,50,50);
    position: relative;
}

.stickyItemFlex1 .h4codeRecognised.error::after{
    content: 'X';
    position: absolute;
    right: 0;
    font-weight: 600;
}

.stickyItemFlex1 .h4codeRecognised.error::before{
    content: ' ';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    height: 1px;
    background: rgb(255,50,50);
    opacity: 1;    
}

.stickyItemFlex1 .h4codeRecognised.fade-enter-active{
    opacity: 1;
}

.stickyItemFlex1 .h4codeRecognised.fade-leave-active{
    opacity: 0;
}

.quantityContainer select{
    background: var(--gray);
    border: 0;
    font-size: clamp(12px,3vw,14px);
    padding: 5px;
    margin-left: 10px;
    transform: translateY(-2px);
    border-radius: 10px;
    background: rgb(50,50,50);
    background: var(--basketDropdownBackground);
    color: white;
    color: var(--basketDropdownText);
}



@media screen and (max-width: 1350px){
    #shoppingContainer{
        flex-direction: column;   
    }
    #shoppingContainer #itemColumn{
        width: calc(100% - 40px);
        height: auto;
        min-height: 70vh;
    }
    #itemColumn .stickyItem{
        flex-direction: column;
    }
    .stickyContainer{
        width: calc(100% - 40px);
        margin-left: 20px;
    }
}


#shop-basket-container h2{
    font-weight: 300;
}

#shop-basket-container h2 a{
    margin-left: 20px;
}

.noItems{
    position: fixed;
}

.noItems2{
    position: fixed;
    top: 250px;
}

#itemColumn .flex-sideways{
    height: auto;
    min-height: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#itemColumn a{
    z-index: 3;
    margin-top: 5px; margin-bottom: 5px;
}

#itemColumn h2,h3,h4,h5,h6{
    z-index: 3;
}

#itemColumn h1{
    font-weight: 700;
    background: rgba(0,0,0,0.3);
    padding-left: 10px; padding-right: 10px;
    border-radius: 10px;
}

#itemColumn h2{
    font-weight: 400;
    width: auto;
    background: rgba(0,0,0,0.3);
    display: inline-block;
    padding: 5px;
    padding-left: 10px; padding-right: 10px;
    border-radius: 10px;
}

#itemColumn #priceTotal{
    margin-top: auto;
}

#priceTotal h2{
    color: white;
    color: var(--basketPriceText);
    padding: 5px;
    padding-left: 10px; padding-right: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
}


#priceTotal strong{
    font-weight: 800;
    color: white;
    color: var(--basketPriceBuyText)
}

@media screen and (max-width: 850px){
    #shoppingContainer .stickyItem{
        display: flex;
        flex-direction: column;
        position: relative;
        max-height: auto;
        top: 0px;
        max-height: none;
    }
    .stickyItemFlex1{
        width: 100%;
        height: auto;
    }
    .stickyItemFlex2{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }
}

#button-2{
    display: none;
}

@media screen and (max-width: 600px){
    #itemColumn .item{
        justify-content: center;
        align-items: center;
    }
    .flex-sideways{
        flex-direction: column;
        justify-content: center;
    }
    .flex-sideways h1{
        width: 90%;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .flex-sideways .button-style1{
        width: 90%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: auto;
    }
    #itemColumn .section-1{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #itemColumn .section-1 h2{
        width: 90%;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #itemColumn h2{
        width: 100%;
    }
    #button-1{
        display: none;
    }
    #button-2{
        display: inline-block;
    }
    #itemColumn #priceTotal{
        margin-top: 5px;
        margin-bottom: 15px;
    }
    #priceTotal h2{
        width: 90%;
        text-align: center;
    }
    #button-2{
        width: 90%;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .quantityContainer select{
        margin-left: 0px;
        width: 50%;
        text-align: center;
        margin-left: 10px;
        transform: translateY(0.5px);
    }
}

.terms{
    margin-top: 2px;
    margin-bottom: 2px;
}


