
.banner-container{
    width:100%;
    height: auto;
    min-height: 650px;
    overflow: hidden;
    position: relative;
    flex-direction: row
}

.banner-logo{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
}

.banner-container svg{
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: none;
}

.banner-container svg{
    fill: rgb(241,80,37);
    fill: url(#background-gradient)
}

.custom-shape-divider-top-1629669682 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1629669682 svg{
    fill: rgb(241,80,37);
    fill: url(#waves-gradient)
}



@media screen and (max-width: 500px){
    .banner-logo{
        width: 90%
    }
}

.banner-container .dark-opacity-cover{
    background: rgba(0,0,0,0.2);
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    z-index: 4
}

.banner-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0; top: 0;
}

.banner-container h1{
    color: rgb(255,255,255);
    color: var(--homeHeaderText);
    background: rgba(0,0,0,0);
    z-index: 5;
    position: relative;
    width: calc(100% - 20px);
    text-align: center;
    height: auto;
    font-size:clamp(30px,3vw,50px);
    margin-left: 10px; margin-right: 10px;
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
}

.banner-container h3{
    color: rgb(255,255,255);
    color: var(--homeHeaderText);
    background: rgba(0,0,0,0);
    z-index: 5;
    position: relative;
    width: calc(100% - 20px);
    text-align: center;
    height: auto;
    font-size:clamp(20px,3vw,25px);
    margin-left: 10px; margin-right: 10px;
    font-weight: 100;
    margin-bottom: 50px;
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
}

.banner-text-container{
    position:relative;
    width: 45%; height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    display: flex;
    margin-left: 3%;
    
}

.banner-text-container .button-style1{
    z-index: 5;
    margin-top: 20px;
}


@keyframes bannerFadeIn{
    from{
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
        pointer-events: all;
    }
}

.bannerHiddenItem{
    opacity: 0;
}

.bannerShownItem{
    opacity: 1;
}


@media screen and (max-width: 600px){
    .banner-logo{
        background: rgb(241,80,37);
        background: var(--gradientP1);
        background: var(--gradientP2);
        width: 100%;
    }
    .banner-text-container{
        width: 94%;
    }
}


