#pageWrapper1{
    display: flex;
    padding-top: 120px;
    gap: 20px;
}


.menu-list-wrapper{
    width: 55%;
    max-width: 450px;
    margin-left: 25px;
    height: auto;
    min-height: calc(100vh - 100px);
    margin-top: 60px;
    position: relative;
}

#pageWrapper2{
    display: flex;
    width: 70%;
    height: auto;
    position: relative;
}

#page-background{
    height: auto;
    min-height: calc(150vh - 100px);
    margin-top: -105px;
    position: relative;
}

.menu-filter-grid{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    outline: 2px solid rgb(70,70,70);
    outline: 2px solid var(--menuFilterGrid);
    border-radius: 10px;
    position: sticky;
    top: 180px;
    margin-right: 30px;
    margin-left: 30px;
    background: transparent;
    background: var(--MFGBackground);
}

.menu-filter-grid h2{
    margin-top: 2px;
    margin-bottom: 12px;
    color: white;
    color: var(--textLight);
}

.menu-filter-grid .button-style2{
    width: calc(100% - 100px);
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    border: 3px solid rgb(70,70,70);
    border: 3px solid var(--MFGDeactiveBorder);
    background: transparent;
    color: rgb(200,200,200);
    color: var(--textLight);
    padding: 10px;
}

.menu-filter-grid .button-style2:hover{
    background: rgb(25,25,25);
    background: var(--MFGHoverBG);
    color: white;
    color: var(--MFGHoverBGText);
    border: 3px solid white;
    border: 3px solid var(--MFGHoverBG)
}

.menu-filter-grid .button-style2.active{
    background: rgb(200,200,200);
    outline: 0;
    color: black;
    pointer-events: none;
    background: var(--MFGActivateBackground);
    color: var(--MFGActivateText);
    border: 3px solid rgb(241,85,37);
    border: 3px solid var(--MFGActivateBorder);
}

.menu-filter-grid .button-style2.active:hover{
    pointer-events: none;

}

.menu-filter-grid .button-style2.active::after{
    content: ' ';
    width: 7px;
    height: 100%;
    position: absolute;
    background: rgb(25,25,25);
    background: var(--orange1);
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#mobileFilterButtons{
    display: none;
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mobileFilterButtons .dropdown{
    width: 85%;
}

#mobileFilterButtons .mobileFilterContainer{
    height: auto;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap
}

#mobileFilterButtons .mobileFilterContainer a{
    background: transparent;
    width: 100%;
    padding-bottom: 10px; padding-top: 10px;
    margin: 0;
    color: white;
    color: var(--textLight);
    border: 3px solid white;
    border: 3px solid var(--MFGDeactiveBorder2);
    border-radius: 40px;
    font-size: clamp(14px,3vw, 18px);
    text-align: center;
}



#mobileFilterButtons .mobileFilterContainer a:hover{
    cursor: pointer;
}

#mobileFilterButtons .mobileFilterContainer a.active{
    background: var(--MFGActiveBackground2);
    padding: 20px;
    padding-bottom: 10px; padding-top: 10px;
    margin: 0;
    color: var(--MFGActiveText2);
    border: 2px solid white;
    border: 2px solid var(--MFGActiveBorder2);
    border-radius: 40px;
    pointer-events: none;
}

#mobileFilterButtons .mobileMenu{
    display: inline-block;
    width: 83%;
    margin-top: 70px;
    border-top: 3px solid rgb(180,180,180);
    border-top: 3px solid var(--borderlinecolour);
    max-width: 922px;
}

#mobileFilterButtons .mobileMenu h3{
    color: var(--textLight);
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 400px){
    #mobileFilterButtons .mobileFilterContainer{
        flex-wrap: wrap;
    }
    #mobileFilterButtons .mobileFilterContainer a{
        width: 40%;
    }
    #mobileFilterButtons .mobileFilterContainer a.active{
        padding: 10px;
    }
}


.menu-filter-grid a:first-of-type{
    margin-top: 15px;
    margin-bottom: 0px;
}

.menu-filter-grid a:last-of-type{
    margin-bottom: 20px;
}

.menu-filter-grid a:nth-child(4){
    margin-top: 20px;
}



@media screen and (max-width: 1215px){
    #pageWrapper1{
        flex-direction: column;
        padding-top: 20px;
    }
    .menu-filter-grid{
        position: relative;
        top: 0;
    }
    .menu-list-wrapper{
        padding-top: 50px;
        display: none;
    }
    .menu-filter-grid{
        margin-left: 0px;
        min-width: 300px;
    }
    #pageWrapper2{
        width: 100%;
        flex-wrap: wrap;
    }
    #mobileFilterButtons{
        display: flex;
    }
}


/* .menu-filter-grid .button-style2.active{
    background: var(--orange1dark);
} */

.menu-filter-grid hr{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 2px;
    background: rgb(70,70,70);
    background: var(--menuFilterGrid);
    outline: 0;
    border: 0;
    
}

.menu-grid{
    display: flex;
    width: 100%;
    height: auto;
    margin-right: 10px;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding-top: 35px;
    justify-content: center;
    position: relative;
}

.menu-item{
    width: 50%;
    min-width: 225px;
    min-height: 300px;
    height: auto;
    background: var(--pagebackground);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    outline: 2px solid var(--packbackground);
    margin: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.menu-item img{
    width: 100%;
    height: 100%;
    /* max-height: 300px; */
    min-height: 200px;
    object-fit:fill;
    margin-top: 30px; margin-bottom: 30px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    object-fit: cover;
    z-index: 0;
}


.menu-item .cover-background{
    width: 100%;
    height: 100%;
    /* max-height: 300px; */
    min-height: 200px;
    object-fit:fill;
    margin-top: 30px; margin-bottom: 30px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    object-fit: cover;
    background: rgba(0,0,0,0.6);   
    z-index: 3;
}

.menu-item h1{
    position: relative;
    z-index: 4;
    color: white;
    text-align: center;
    margin-top: 20px;
    width: 80%;
}

.menu-item h3{
    position: relative;
    z-index: 4;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 100;
    width: 80%;
}

.menu-item a{
    z-index: 4;
}

.menu-item .button-style3{
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.menu-item .button-style3:hover{
    color: black;
}

@media screen and (max-width: 1500px){
    .menu-item{
        width: calc(100% - 80px);
        max-width: calc(100% - 150px);
    }   
}


@media screen and (max-width: 1000px){
    .menu-grid{
        flex-direction: column;
        margin-right: 0px;
    }
    .menu-item{
        width: calc(100% - 80px);
        max-width: calc(100% - 150px);
    }
}



