#orange-background{
    background-color: var(--gradientP1);
    background: var(--gradientP2);
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -105px;
    padding-bottom: 101px;
}

.flexLeft{
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.flexDivider{
    display: flex;
    gap: 100px;
    width: calc(100% - 250px);
    height: calc(100% - 100px);
    padding-top: 100px;
}

#orange-background .flexRight{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%
}

h1{
    font-size: clamp(40px,17vw,300px);
    color: white;
    color: var(--white1);
    text-align: center;
    margin-left: 5px; margin-right: 5px;
    height: auto;
}

h4{
    font-size: clamp(20px,17vw,50px);
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    color: var(--white1);
    text-align: center;
    margin-left: 5px; margin-right: 5px;
    margin-bottom: 50px;
}
h5{
    font-size: clamp(12px,40vw,20px);
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    color: var(--white1);
    text-align: center;
    font-weight: 100;
    margin-left: 5px; margin-right: 5px;
}

h1{
    color: white;
    color: var(--white1);
}

h4{
    color: white;
    color: var(--white1);
    grid-column: 2;
    grid-row: 1;
}

h5{
    color: white;
    color: var(--white1);
    margin-top: 0px;
    grid-column: 2;
    grid-row: 1;
}

a{
    width: auto;
    margin-top: 40px;
    grid-row: 1;
    grid-column: 2;
    height: auto;
}

@media screen and (max-width: 900px){
    .flexLeft{
        max-width: none;
    }
    .flexDivider{
        flex-direction: column;
        gap: 50px;
        width: 100%;
        height: auto;
    }
}