#orange-background{
    background-color: var(--gradientP1);
    background: var(--gradientP2);
    width: 100%;
    height: calc(100% - 100px);
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    padding-bottom: 96px;
}

#orange-background div{
    display: grid;
    z-index: 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    gap: 20vw;
}

h1{
    font-size: clamp(20px,40vw,200px);
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    color: var(--white1);
    text-align: center;
    margin-left: 5px; margin-right: 5px;
    height: auto;
}
h4{
    font-size: clamp(20px,40vw,30px);
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    color: var(--white1);
    text-align: center;
    margin-left: 5px; margin-right: 5px;
    margin-bottom: 50px;
}
h5{
    font-size: clamp(12px,40vw,20px);
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    color: var(--white1);
    text-align: center;
    font-weight: 100;
    margin-left: 5px; margin-right: 5px;
}

h1{
    color: white;
    color: var(--white1);
}

h4{
    color: white;
    color: var(--white1);
    grid-column: 2;
    grid-row: 1;
}

h5{
    color: white;
    color: var(--white1);
    margin-top: 0px;
    grid-column: 2;
    grid-row: 1;
}

a{
    width: auto;
    margin-top: 40px;
    grid-row: 1;
    grid-column: 2;
    height: auto;
}